/* Master Styles */
body{
  margin: 0px;
}

/* Name Style*/
h1 {
  font-family: Georgia;
  font-style: oblique;
  text-align: center;
  font-size: 1.5em;
  font-weight: 150;
  margin-top: 50px;
}

/* Nav Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav-center{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0% 0;

}

.nav-wrapper > .nav-center > div{
margin-right: 20px;
font-size:  0.9em;
text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom:1px solid transparent;
  transition: border-bottom 0.5s;

}

.nav-link-wrapper a {
  color:#8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Contact Styles */
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.contact-center{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 25% 0;

}

.contact-wrapper > .contact-center > div{
margin-right: 20px;
font-size:  0.9em;
text-transform: uppercase;
}

.contact-info {
  height: 120%;
  border-bottom:1px solid transparent;
  transition: border-bottom 0.5s;

}

.contact-info a {
  color:#8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.contact-info:hover {
  border-bottom: 1px solid black;
}


.contact-info a:hover {
  color: black;
}

.resume-img > a > img {
  margin-left: 25%;
}



/* Main Body Styles */

/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 3rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}


.profile-picture > img {
  width: 25%;
  display: flex;
  justify-content: center;
  
}

.img{
    border-radius: 50%;
}

.center-align{
  margin-left: auto;
  margin-right: auto;
}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}

html, body {
	background: #fff;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}

/** page layout **/
main {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	padding-bottom: 3rem;
}

p{
width: 100%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 25px;

}

