/*Imported Font*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

@font-face {
    src:url("/css/webfonts/Larsseit.eot");
    src:url("../fonts/Larsseit.woff") format("woff"),
    url("../fonts/Larsseit.ttf") format("truetype"),
    url("../fonts/Larsseit.eot?#iefix") format("embedded-opentype");
    font-family:'Larsseit';
    font-weight:400;
    font-style:normal
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Italic4.eot");
    src:url("../fonts/LeituraNews-Italic4.woff") format("woff"),
    url("../fonts/LeituraNews-Italic4.ttf") format("truetype"),
    url("../fonts/LeituraNews-Italic4.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:800;
    font-style:italic
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Italic3.eot");
    src:url("../fonts/LeituraNews-Italic3.woff") format("woff"),
    url("../fonts/LeituraNews-Italic3.ttf") format("truetype"),
    url("../fonts/LeituraNews-Italic3.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:600;
    font-style:italic
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Italic1.eot");
    src:url("../fonts/LeituraNews-Italic1.woff") format("woff"),
    url("../fonts/LeituraNews-Italic1.ttf") format("truetype"),
    url("../fonts/LeituraNews-Italic1.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:200;
    font-style:italic
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Roman4.eot");
    src:url("../fonts/LeituraNews-Roman4.woff") format("woff"),
    url("../fonts/LeituraNews-Roman4.ttf") format("truetype"),
    url("../fonts/LeituraNews-Roman4.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:800;
    font-style:normal
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Italic2.eot");
    src:url("../fonts/LeituraNews-Italic2.woff") format("woff"),
    url("../fonts/LeituraNews-Italic2.ttf") format("truetype"),
    url("../fonts/LeituraNews-Italic2.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:400;
    font-style:italic
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Roman1.eot");
    src:url("../fonts/LeituraNews-Roman1.woff") format("woff"),
    url("../fonts/LeituraNews-Roman1.ttf") format("truetype"),
    url("../fonts/LeituraNews-Roman1.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:200;
    font-style:normal
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Roman3.eot");
    src:url("../fonts/LeituraNews-Roman3.woff") format("woff"),
    url("../fonts/LeituraNews-Roman3.ttf") format("truetype"),
    url("../fonts/LeituraNews-Roman3.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:600;
    font-style:normal
   }
@font-face {
    src:url("/css/webfonts/LeituraNews-Roman2.eot");
    src:url("../fonts/LeituraNews-Roman2.woff") format("woff"),
    url("../fonts/LeituraNews-Roman2.ttf") format("truetype"),
    url("../fonts/LeituraNews-Roman2.eot?#iefix") format("embedded-opentype");
    font-family:'Leitura News';
    font-weight:400;
    font-style:normal
   }

* {
    margin:0;
    padding:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    box-sizing:border-box;
}

/* Title Style */ 

h1 {   
    text-align: center;
    font-size: 1.5em;
    font-weight: 150;
    margin-top: 50px;
    letter-spacing: 5px;
    padding-bottom: 10px;
  }

.h-title {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    position: relative;
    padding: 0 10 px;    
}

.h-title::after {
    content:'';
    background-color:#f5c0a2;
    height:10px;
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    left:25%;
    width:50%;
    z-index:-1
}
.container {
    text-align: center;
    margin: 0;
    position: relative;
    padding: 0 10 px;    
}

.container::after {
    content:'';
    background-color:#f5c0a2;
    height:5px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:40%;
    width:20%;
    z-index:-1
}

/* Nav Style*/
.h-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.h-nav-wrapper { 
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    text-align: center;
    margin: 0% 10;
    padding-left: 65px;
}
.h-nav-bar > .h-nav-wrapper > div {
    margin-right: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.h-nav-link-wrapper {
    height: 22px;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.5s;
}
.h-nav-link-wrapper a{
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
 .h-nav-link-wrapper:hover {
    border-bottom: 1px solid black;
 }
 .h-nav-link-wrapper a:hover {
    color: black;
 }

 /*Project Styles*/
 .project-title {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    text-align: center;
    margin: 0% 10;
    padding-bottom: 10px;
 }
 
 .project-title-wrapper{
     display: flex;
     height: 50px;
     border-bottom:1px solid transparent;
     transition: border-bottom 0.5s;
 }

 .project-title-wrapper a{
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
 }

.project-title-wrapper:hover{
    border-bottom: 1px solid black;

}
.project-title-wrapper:hover a{
    color:black;
}
/*Project Containers*/
.project-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
    padding: 0 10 px;    
}

.project-container::after {
    content:'';
    background-color:#f5c0a2;
    height:5px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:35%;
    width:30%;
    z-index:-1
}
.project-credits {
    font-family:"Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-size: 80%;
    letter-spacing: 2px;
    margin-top:10px;
}
/*Project Date*/
.project-date {
    font-family: "Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    opacity: 50%;
    text-align: center;
    font-size: 90%;
} 
.p-article{
    margin-left: auto;
    margin-right: auto;
    font-family:"Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-size: 75%;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 35px;
}

.p-github {
    margin-left: 25%;
    margin-right: 25%;
    font-family:"Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-size: 100%;
    letter-spacing: 5px;
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}

.project-description > img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

 /*Line Break*/
hr {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#666;
    border: 0 none;
    margin-top: 10px;
    margin-bottom:10px;

}
 /*Header 2*/
h2 {
    padding: 20px;
    font-family: "Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;    
}
 /*Profile Picture*/
.profile-picture > img {
    max-width: 250px;
    max-height: auto;
}
 /*Images Styles*/
img {
padding: 20px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%
}
 /*Header 3*/
h3 {
text-align: center;
    margin-bottom: 2%;
    font-family: "Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-weight: 100px;
    font-size: 1.5em;
    letter-spacing: 5px;
    padding: 10px;
}

 /*Paragraph Styles*/
p{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    line-height: 25px;
    word-spacing: 1px;
}
 /*Section Spacing*/
section {
    padding-top: 1.5rem;
	padding-bottom: 3rem;
}

/* Contact Styles */
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .contact-center{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: 20% 0;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
    
  
  }
  
  .contact-wrapper > .contact-center > div{
  margin-right: 20px;
  font-size:  0.9em;
  text-transform: uppercase;
  }
  
  .contact-info {
    height: 120%;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.5s;
  
  }
  
  .contact-info a {
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .contact-info:hover {
    border-bottom: 1px solid black;
  }
  
  
  .contact-info a:hover {
    color: black;
  }
  /*Resume Styles*/
  .resume-img > a > img {
    margin-left: 25%;
  }

.resume-subtext {
    text-align: center;
    letter-spacing: 2px;
}

.footer{
    background-color: #ffe0cf;
    opacity: 90%;
    padding: 50px; 

}
.f-container {
    font-family: "Larsseit",-apple-system,BlinkMacSystemFont,"Futura",sans-serif;
    font-size: 75%;
    letter-spacing: 5px;
    font-weight: lighter;
    text-align: center;
}